.main_chip {
    display: flex;
    align-items: center;
    background: var(--fill-light);
    border: var(--border);
    padding: calc(22px * var(--interface-scale));
    height: 100%;
}

.left_chip {
    justify-content: flex-start;
    width: fit-content;
    border-radius: calc(60px * var(--interface-scale)) calc(16px * var(--interface-scale)) calc(16px * var(--interface-scale)) calc(60px * var(--interface-scale));
}

.right_chip {
    justify-content: flex-end;
    width: auto;
    border-radius: calc(16px * var(--interface-scale)) calc(60px * var(--interface-scale)) calc(60px * var(--interface-scale)) calc(16px * var(--interface-scale));
}

/* @font-face {
  font-family: 'DM Mono';
  src: url('./media/fonts/mono/DMMono-Medium.ttf') format('truetype');
} */

@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
    }
}

.clickable {
    cursor: pointer;
    pointer-events: all !important;
}

.date_selector {
    height: fit-content;
    width: 100%;
    background-color: var(--fill-light);
    border-top: var(--border);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(24px * var(--interface-scale));
    padding: 0 calc(36px * var(--interface-scale));
}

.date_information {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(32px * var(--interface-scale));
    padding: inherit;
    /* padding: calc(16px * var(--interface-scale)); */
}

.date_picker {
    --picker-pb: calc(20px * var(--interface-scale));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(4px * var(--interface-scale));
    /* color: black; */
    color: var(--outline-light);
    font-family: var(--font-geist-mono);
    font-size: calc(24px * var(--interface-scale));
    padding-bottom: var(--picker-pb);
    padding-top: calc((var(--picker-pb) * 2) + (2px * var(--interface-scale)));

    &.hovering {
        .date_input {
            font-weight: 600;
            color: var(--accent);
        }
    }
}

.date_input {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-justify: center;
    letter-spacing: calc(2px * var(--interface-scale));
    padding-left: calc(2px * var(--interface-scale));
    border-radius: calc(4px * var(--interface-scale));
    text-shadow: 0 calc(1px * var(--interface-scale)) 0 var(--outline-light);

    transition: all 0.4s;

    &:focus,
    &:hover {
        font-weight: 600;
        opacity: 0.8;
        background-color: #3838381f;
    }
}

.dial_group {
    display: flex;
    gap: calc(16px * var(--interface-scale));
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: calc(36px * var(--interface-scale));
}

.dial_options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(16px * var(--interface-scale));
}

.dial_button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(48px * var(--interface-scale));
    height: calc(48px * var(--interface-scale));
    /* padding: calc(12px * var(--interface-scale)); */
    border: var(--border);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    outline: calc(2px * var(--interface-scale)) solid transparent;
    background-color: transparent;
    outline-offset: 0;

    transition: all 0.2s;

    &:hover {
        background-color: var(--fill-light);
        border-width: calc(2px * var(--interface-scale));
    }

    &:active {
        filter: brightness(0.9);
        outline: calc(2px * var(--interface-scale)) solid var(--outline-light);
        outline-offset: calc(2px * var(--interface-scale));
    }

    &.active {
        background-color: var(--fill-light);
        border-color: var(--accent);
        border-width: calc(2px * var(--interface-scale));
        /* background-color: rgba(var(--accent), 0.6); */
        outline: calc(2px * var(--interface-scale)) solid var(--accent);
        outline-offset: calc(-6px * var(--interface-scale));

        .dial_icon {
            color: var(--icon-active);
        }
    }
}

.dial_icon {
    color: var(--icon-idle);
    transition: color 0.2s;
}

.dial_dot {
    width: calc(12px * var(--interface-scale));
    height: calc(12px * var(--interface-scale));
    background-color: var(--accent);
    border-radius: 50%;
    border: calc(3px * var(--interface-scale)) solid var(--outline-light);
}

.dial_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--dial-size);
    height: var(--dial-size);
}

.dial_wrapper {
    position: relative;
    width: var(--dial-size);
    height: var(--dial-size);

    &:hover {
        .dial_rim {
            transform: scale(1.02);
            opacity: 0.7;
        }
    }

    &:active {
        .dial_rim {
            transform: scale(1);
            opacity: 0.4;
        }
    }
}

.dial_rim {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    transition:
        transform 0.2s,
        opacity 0.2s;
}

.year_dial_display {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    /* height: 100%; */
    transform: translate(-50%, -50%);
    font-family: var(--font-geist-mono);
    font-size: calc(24px * var(--interface-scale));
    font-weight: 600;
    z-index: 1000;
    color: var(--accent);
    text-shadow: 0 calc(1px * var(--interface-scale)) 0 var(--outline-light);
    /* line-height: calc(56px * var(--interface-scale)); */
}

.year_dial_tick {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: none;
    top: 0%;
    left: 50%;
    width: calc(32px * var(--interface-scale));
    height: calc(48px * var(--interface-scale));
    border-radius: calc(8px * var(--interface-scale));
    transform-origin: center calc(var(--dial-size) / 2);
    margin-left: calc(-16px * var(--interface-scale));
    z-index: 1000;
    cursor: pointer;

    &:hover {
        .tick_indicator {
        opacity: 0.4;
        width: calc(24px * var(--interface-scale));
    }
    }

    &:active {
        .tick_indicator {
        width: calc(12px * var(--interface-scale));
        opacity: 0.8;
    }
    }

    .tick_indicator {
        opacity: 0;
        background-color: var(--accent);
        width: calc(12px * var(--interface-scale));
        height: calc(4px * var(--interface-scale));
        border-radius: calc(2px * var(--interface-scale));
        position: absolute;
        top: calc(-12px * var(--interface-scale));
        transition: width 0.2s, opacity 0.2s;

        &.focused {
            opacity: 0.4;
            width: calc(24px * var(--interface-scale));
        }
    }
}

.nodrag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.date_panel {
    display: absolute;
    top: calc(32px * var(--interface-scale));
    left: calc(32px * var(--interface-scale));
    /* width: fit-content; */
    z-index: 10;
    background-color: white;
    border-radius: calc(160px * var(--interface-scale)) calc(160px * var(--interface-scale)) var(--border-radius) var(--border-radius);

    border: var(--border);
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    /* padding: calc(40px * var(--interface-scale)) calc(40px * var(--interface-scale)); */
}

.date_chip {
    height: calc(48px * var(--interface-scale));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(100px * var(--interface-scale));
    background-color: transparent;
    border: var(--border);
    width: 50%;
    overflow: hidden;
}

.chip_segment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: calc(12px * var(--interface-scale)) calc(12px * var(--interface-scale));
    height: 100%;
    border-left: var(--border);
    background-color: white;
    color: var(--text-color);
    font-family: var(--font-geist-mono);
    font-size: calc(20px * var(--interface-scale));
    &:first-child {
        border: none;
    }

    &.chip_active {
        background-color: var(--fill-light);
        /* color: white; */
    }
}

.main ol {
    font-family: var(--font-geist-mono);
    padding-left: 0;
    margin: 0;
    font-size: calc(14px * var(--interface-scale));
    line-height: calc(24px * var(--interface-scale));
    letter-spacing: -0.01em;
    list-style-position: inside;
}

.main li:not(:last-of-type) {
    margin-bottom: calc(8px * var(--interface-scale));
}

.main code {
    font-family: inherit;
    background: var(--gray-alpha-100);
    padding: calc(2px * var(--interface-scale)) calc(4px * var(--interface-scale));
    border-radius: calc(4px * var(--interface-scale));
    font-weight: 600;
}

.ctas {
    display: flex;
    gap: calc(16px * var(--interface-scale));
}

.ctas a {
    appearance: none;
    border-radius: calc(128px * var(--interface-scale));
    height: calc(48px * var(--interface-scale));
    padding: 0 calc(20px * var(--interface-scale));
    border: calc(1px * var(--interface-scale)) solid transparent;
    transition:
        background 0.2s,
        color 0.2s,
        border-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px * var(--interface-scale));
    line-height: calc(20px * var(--interface-scale));
    font-weight: 500;
}

a.primary {
    background: var(--foreground);
    color: var(--background);
    gap: calc(8px * var(--interface-scale));
}

a.secondary {
    border-color: var(--gray-alpha-200);
    min-width: calc(158px * var(--interface-scale));
}

.footer {
    grid-row-start: 3;
    display: flex;
    gap: calc(24px * var(--interface-scale));
}

.footer a {
    display: flex;
    align-items: center;
    gap: calc(8px * var(--interface-scale));
}

.footer img {
    flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: calc(4px * var(--interface-scale));
    }
}

@media (max-width: 600px) {
    .page {
        padding: calc(32px * var(--interface-scale));
        padding-bottom: calc(80px * var(--interface-scale));
    }

    .main {
        align-items: center;
    }

    .main ol {
        text-align: center;
    }

    .ctas {
        flex-direction: column;
    }

    .ctas a {
        font-size: calc(14px * var(--interface-scale));
        height: calc(40px * var(--interface-scale));
        padding: 0 calc(16px * var(--interface-scale));
    }

    a.secondary {
        min-width: auto;
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }
}
