:root {
    --button-size: calc(52px * var(--interface-scale));
    --panel-background: rgba(255, 255, 255, 0.9);
}

.navigation_panel_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: 100%;
    padding: calc(56px * var(--interface-scale)) calc(44px * var(--interface-scale)) calc(56px * var(--interface-scale)) 0;
    background: none;

    display: flex;
    flex-direction: column;
    gap: calc(36px * var(--interface-scale));
    place-content: space-between;

    filter: drop-shadow(0 0 calc(1px * var(--interface-scale)) rgba(0, 0, 0, 0.1));

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
        filter: saturate(0.0);
    }

    &.hidden {
        opacity: 0.0;

        &:hover {
            opacity: 1.0;
        }
    }

    transition: opacity 0.64s ease-in-out;
}

.navigation_panel_group {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--panel-background);
    border: var(--border);
    border-radius: var(--border-radius);

    width: var(--button-size);
    min-height: var(--button-size);
    height: fit-content;

    overflow: hidden;

    & .separator {
        width: 100%;
        border-top: var(--border);
    }
}

.navigation_panel_button {
    display: flex;
    opacity: 0.8;
    place-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
    padding: calc(14px * var(--interface-scale));
    background-color: var(--panel-background);

    outline: none !important;
}

.navigation_panel_decade_scroller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(6px * var(--interface-scale));
    gap: calc(6px * var(--interface-scale));
    height: fit-content;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scrollbar-color: var(--outline-light) transparent;
    scrollbar-gutter: none;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset calc(-16px * var(--interface-scale)) 0 calc(14px * var(--interface-scale)) calc(-16px * var(--interface-scale)) rgba(0, 0, 0, 0.12);
}

.navigation_panel_year_plate {
    display: flex;
    place-items: center;
    justify-content: center;
    cursor: pointer;

    mask-image: linear-gradient(to right,
            black 0%,
            transparent 100%);

    /* opacity: 0.9; */
    translate: 33% 0px;
    color: var(--text-color);
    transition: translate 0.2s ease-in-out;

    --year-plate-fill: var(--fill-light);
    --year-plate-stroke: var(--outline-light);

    & .indicator {
        position: absolute;
        left: 35%;
        height: calc(16px * var(--interface-scale));
        width: calc(16px * var(--interface-scale));
        background-color: var(--outline-light);
        border-radius: calc(3px * var(--interface-scale));
        transition: all 0.2s ease-in-out;
    }

    &:hover,
    &.active {
        color: var(--text-color-light);

        & .indicator {
            position: absolute;
            background-color: var(--fill-light);
            rotate: 45deg;
        }


        --year-plate-fill: var(--accent);
        --year-plate-stroke: rgba(255, 255, 255, 0.3);
    }

    &:hover {
        translate: 35% 0px;
    }

    &:active {
        filter: brightness(0.8);
    }
}

.navigation_panel_year_plate_text {
    position: absolute;
    /* left: calc(10px * var(--interface-scale)); */
    left: 10%;
    font-size: calc(16px * var(--interface-scale));
    font-weight: bold;
    font-family: var(--font-geist-mono);
    color: inherit;
}