:root {
    --button-size: 52px;
    --panel-background: rgba(255, 255, 255, 0.9);
}

.navigation_panel_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: 100%;
    padding: 56px 44px 56px 0;
    background: none;

    display: flex;
    flex-direction: column;
    gap: 36px;
    place-content: space-between;

    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.1));

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
        filter: saturate(0.0);
    }
}

.navigation_panel_group {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--panel-background);
    border: var(--border);
    border-radius: var(--border-radius);

    width: var(--button-size);
    min-height: var(--button-size);
    height: fit-content;

    overflow: hidden;

    & .separator {
        width: 100%;
        border-top: var(--border);
    }
}

.navigation_panel_button {
    display: flex;
    opacity: 0.8;
    place-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
    padding: 14px;
    background-color: var(--panel-background);

    cursor: pointer;

    &:hover {
        opacity: 1.0;
        filter: brightness(0.95);
    }
}

.navigation_panel_decade_scroller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    gap: 6px;
    height: fit-content;
    width: 100%;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset -16px 0 14px -16px rgba(0, 0, 0, 0.12);
}

.navigation_panel_year_plate {
    display: flex;
    place-items: center;
    justify-content: center;
    cursor: pointer;

    mask-image: linear-gradient(to right,
            black 0%,
            transparent 100%);

    /* opacity: 0.9; */
    translate: 32% 0px;
    color: var(--background);
    transition: translate 0.2s ease-in-out;

    --year-plate-fill: var(--fill-light);
    --year-plate-stroke: var(--outline-light);

    & .indicator {
        position: absolute;
        left: 38%;
        height: 16px;
        width: 16px;
        background-color: var(--outline-light);
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
    }

    &:hover,
    &.active {
        color: var(--foreground);

        & .indicator {
            position: absolute;
            background-color: var(--fill-light);
            rotate: 45deg;
        }


        --year-plate-fill: var(--accent);
        --year-plate-stroke: rgba(255, 255, 255, 0.3);
    }

    &:hover {
        translate: 30% 0px;
    }

    &:active {
        filter: brightness(0.8);
    }
}

.navigation_panel_year_plate_text {
    position: absolute;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-geist-mono);
    color: inherit;
}