.side_panel {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    /* height: 100%; */
    margin: calc(12px * var(--interface-scale)) 0 calc(12px * var(--interface-scale)) 0;
    border-right: var(--border);
    border-top: var(--border);
    border-bottom: var(--border);
    border-radius: 0 calc(60px * var(--interface-scale)) calc(60px * var(--interface-scale)) 0;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(calc(24px * var(--interface-scale)));
    padding: calc(44px * var(--interface-scale));

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: calc(36px * var(--interface-scale));
}

.menu_panel {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.content_panel {
    min-width: calc(400px * var(--interface-scale));
    width: fit-content;
    background: white;
    border: var(--border);
    border-radius: var(--border-radius);
}

.main_menu {
    display: flex;
    flex-direction: column;
    gap: calc(24px * var(--interface-scale));
    width: 100%;
}

.logo_group {
    display: flex;
    flex-direction: row;
    gap: calc(8px * var(--interface-scale));
    justify-content: space-between;
    height: calc(96px * var(--interface-scale));
    width: 100%;
    margin-bottom: calc(16px * var(--interface-scale));
}

.main_chip {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fill-light);
    border: var(--border);
    padding: calc(22px * var(--interface-scale));
    height: 100%;
    cursor: pointer;

    &:hover {
        scale: 0.96;
    }

    transition: all 0.2s;
}

.main_nav_group {
    display: flex;
    flex-direction: column;
    gap: calc(16px * var(--interface-scale));
    width: 100%;
}

.left_chip {
    justify-content: flex-start;
    width: fit-content;
    border-radius: calc(60px * var(--interface-scale)) calc(16px * var(--interface-scale)) calc(16px * var(--interface-scale)) calc(60px * var(--interface-scale));
}

.right_chip {
    /* justify-content: flex-end; */
    width: 100%;
    border-radius: calc(16px * var(--interface-scale)) calc(60px * var(--interface-scale)) calc(60px * var(--interface-scale)) calc(16px * var(--interface-scale));
}