.clickable {
    cursor: pointer;
    pointer-events: all !important;
    /* font-family: var(--font-geist-sans), Helvetica, sans-serif; */

    &:hover {
        opacity: 1.0;
        filter: var(--hover-darkening);
        outline: var(--border);
        outline-offset: calc(-3px * var(--interface-scale));
    }

    &:active {
        filter: var(--active-darkening);
        /* scale: 0.98; */
    }

    &.selected {
        outline-width: calc(2px * var(--interface-scale));
        background-color: var(--accent-light);
        border-color: var(--accent);
        border-width: calc(2px * var(--interface-scale));
    }

    /* transition: outline-offset 0.2s; */
}

.nav_button {
    --height: calc(64px * var(--interface-scale));
    padding: 0 calc(22px * var(--interface-scale));
    display: flex;
    align-items: center;
    height: calc(64px * var(--interface-scale));
    width: 100%;
    border-radius: calc(var(--height) / 2);
    background-color: var(--fill-light);
    border: var(--border);

    opacity: 0.75;

    & .nav_button_icon {
        display: flex;
        place-items: center;
        color: var(--icon-idle);
    }

    & .nav_button_label {
        margin-left: calc(16px * var(--interface-scale));
        font-size: calc(18px * var(--interface-scale));
        font-weight: 500;
        text-transform: uppercase;
        color: var(--text-color);
    }

    & .focused {
        opacity: 1;
        & .nav_button_icon {
            display: flex;
            place-items: center;
            color: var(--icon-active);
        }
    }
}

.minor_menu_button {
    border-radius: calc(128px * var(--interface-scale));
    height: auto;
    padding: calc(6px * var(--interface-scale)) calc(16px * var(--interface-scale));
    border: var(--border);
    /* border: none; */
    background: var(--panel-fill);
    color: var(--text-color);

    &:hover {
        background: var(--fill-light);
    }
}

.close_button {
    opacity: 0.5;
    position: absolute;
    top: calc(9px * var(--interface-scale));
    right: calc(9px * var(--interface-scale));
    display: flex;
    place-items: center;
    justify-content: center;
    width: calc(32px * var(--interface-scale));
    height: calc(32px * var(--interface-scale));
    background: var(--panel-fill);
    border-radius: calc(10px * var(--interface-scale));
    border: none;
    font-size: calc(26px * var(--interface-scale));
    text-align: center;
    padding-bottom: calc(2px * var(--interface-scale));

    & :hover {
        opacity: 1.0;
        background: var(--fill-light);
        border: var(--border);
    }
}
