.side_panel_full {
    padding: calc(24px * var(--interface-scale));
    display: flex;
    flex-direction: column;
    gap: calc(8px * var(--interface-scale));
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* opacity: 0.4; */
}

.about_logo {
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: center;
    margin-bottom: calc(24px * var(--interface-scale));
}