.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
    --text-color: black;
    --text-color-light: #666;

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --dial-size: calc(210px * var(--interface-scale));

    --outline-light: #c0c0c0;
    --border: calc(1px * var(--interface-scale)) solid var(--outline-light);
    --border-radius: calc(16px * var(--interface-scale));
    --fill-light: #ededed;

    display: flex;
    /* align-items: center;
    justify-items: center; */
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
}

/* @font-face {
  font-family: 'DM Mono';
  src: url('./media/fonts/mono/DMMono-Medium.ttf') format('truetype');
} */

@media (prefers-color-scheme: dark) {
    .page {
        --gray-rgb: 255, 255, 255;
        --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        --button-primary-hover: #ccc;
        --button-secondary-hover: #1a1a1a;
    }
}

.clickable {
    cursor: pointer;
    pointer-events: all !important;
}

.nodrag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main ol {
    font-family: var(--font-geist-mono);
    padding-left: 0;
    margin: 0;
    font-size: calc(14px * var(--interface-scale));
    line-height: calc(24px * var(--interface-scale));
    letter-spacing: -0.01em;
    list-style-position: inside;
}

.main li:not(:last-of-type) {
    margin-bottom: calc(8px * var(--interface-scale));
}

.main code {
    font-family: inherit;
    background: var(--gray-alpha-100);
    padding: calc(2px * var(--interface-scale)) calc(4px * var(--interface-scale));
    border-radius: calc(4px * var(--interface-scale));
    font-weight: 600;
}

.ctas {
    display: flex;
    gap: calc(16px * var(--interface-scale));
}

.ctas a {
    appearance: none;
    border-radius: calc(128px * var(--interface-scale));
    height: calc(48px * var(--interface-scale));
    padding: 0 calc(20px * var(--interface-scale));
    border: calc(1px * var(--interface-scale)) solid transparent;
    transition:
        background 0.2s,
        color 0.2s,
        border-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px * var(--interface-scale));
    line-height: calc(20px * var(--interface-scale));
    font-weight: 500;
}

a.primary {
    background: var(--foreground);
    color: var(--background);
    gap: calc(8px * var(--interface-scale));
}

a.secondary {
    border-color: var(--gray-alpha-200);
    min-width: calc(158px * var(--interface-scale));
}

.footer {
    grid-row-start: 3;
    display: flex;
    gap: calc(24px * var(--interface-scale));
}

.footer a {
    display: flex;
    align-items: center;
    gap: calc(8px * var(--interface-scale));
}

.footer img {
    flex-shrink: 0;
}

@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: calc(4px * var(--interface-scale));
    }
}

@media (max-width: 600px) {
    .page {
        padding: calc(32px * var(--interface-scale));
        padding-bottom: calc(80px * var(--interface-scale));
    }

    .main {
        align-items: center;
    }

    .main ol {
        text-align: center;
    }

    .ctas {
        flex-direction: column;
    }

    .ctas a {
        font-size: calc(14px * var(--interface-scale));
        height: calc(40px * var(--interface-scale));
        padding: 0 calc(16px * var(--interface-scale));
    }

    a.secondary {
        min-width: auto;
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }
}
