.canvas {
    position: relative !important;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* cursor: crosshair; */
}

.canvas_container {
    visibility: visible;
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 0;

    top: 0;
    left: 0;

    /* left: var(--wide-margin); */

    /* mask-image: linear-gradient(to left,
            black 85%,
            transparent 100%); */

    /* &.wide {
        left: 0;
        width: 100%;

        mask-image: none;
    } */
}

.loading_overlay {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
    background-color: var(--overlay);
    /* backdrop-filter: blur(calc(240px * var(--interface-scale))); */
}

.loading_box {
    position: relative;
    display: flex;
    /* transform: translate(calc(290px * var(--interface-scale)), 0); */
    z-index: 999;
    width: calc(200px * var(--interface-scale));
    height: calc(200px * var(--interface-scale));
    place-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: var(--panel-background);
    border: var(--border);
}